html {
  scroll-behavior: smooth; 
}

* {
  padding: 0;
  margin: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
ul li {
  list-style: none;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: 14px;
  line-height: 1;
  height: 100%;
  width: 100%;
  margin: 0 auto;
  font-family: "Roboto", sans-serif;
  font-family: "Ubuntu", sans-serif;
  
}

.header-wrap {
  display: flex;
  justify-content: center;
}

.header {
  display: flex;
  justify-content: center;
  position: fixed;
  max-width: 1120px;
  z-index: 1000;
  width: 100%;
  background-color: #222222;
}

.header-nav {
  display: flex;
  justify-content: center;
  font-size: 24px;
}

.header-nav > li {
  padding: 30px 50px 30px 50px;
}

.link {
  color: #5fd1d1;
}

.link:hover {
  text-decoration: underline;
}