html {
  scroll-behavior: smooth; 
}

* {
  padding: 0;
  margin: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
ul li {
  list-style: none;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: 14px;
  line-height: 1;
  height: 100%;
  width: 100%;
  margin: 0 auto;
  font-family: "Roboto", sans-serif;
  font-family: "Ubuntu", sans-serif;
  
}

.header-wrap {
  display: flex;
  justify-content: center;
}

.header {
  display: flex;
  justify-content: center;
  position: fixed;
  max-width: 1120px;
  z-index: 1000;
  width: 100%;
  background-color: #222222;
}

.header-nav {
  display: flex;
  justify-content: center;
  font-size: 24px;
}

.header-nav > li {
  padding: 30px 50px 30px 50px;
}

.link {
  color: #5fd1d1;
}

.link:hover {
  text-decoration: underline;
}

.wrap {
  background-color: #e9e9e8;
}

.container {
  max-width: 1120px;
  margin: 0 auto;
  background: #dddada;
}

.acquaintance {
  display: flex;
  max-height: 373px;
  padding: 84px 0 0 0;
}

.avatar-text {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  line-height: 2;
  padding: 0 0 0 50px;
}

.line {
  border: 1px solid #acaca9;
}

#contacts:before {
	display: block;
	content: "";
	height: 60px;
	margin: -55px 0 0 0;
}

.social {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 24px;
  font-weight: bold;
  margin: 30px 0 30px 0;
  padding: 0 0 0 30px;
}


.social-list {
  display: flex;
}

.socials {
  padding: 0 40px 0 0;
}

@keyframes icons-live {
  0%,
  50%,
  100% {
    transform: rotate(0deg);
  }
  10%,
  30% {
    transform: rotate(-10deg);
  }
  20%,
  40% {
    transform: rotate(10deg);
  }
}

.socials :hover {
  animation: icons-live 1s ease-in-out;
}